<h2>New Book</h2>
<form action="/books" method="POST">
    <a class="btn btn-danger" href="/books">Cancel</a>
<button class="btn btn-primary" type="submit">Create</button>
<hr>
    <%- include('_form_fields') %>
</form>