<%if(locals.name != null) {%>
    <form method="POST" action="<%= url %>?_method=DELETE">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    <%} else {%>
        <button class="btn btn-danger" title="Login to delete this data" disabled type="submit">Delete</button>
        <%}%>