@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/button.css';
@import 'shared/author.css';
@import 'shared/book.css';
@import 'shared/table.css';
@import 'shared/form.css';



:root {
    font-family: 'Gotham Rounded';
    font-size: 18px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));

}

.container{
    max-width: 1200px;
    margin: auto;
}

.inner-container{
    margin:2rem;

}

.page-header{

font-size:1.5rem;
 font-weight: 500px;
 }
 
.errorMessage{
    width: 200px;
    height: 40px;
    background-color: rgb(240, 92, 92);
    border-radius: .3rem;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 5px;
}