:root {
--book-cover-width: 200px;
--book-cover-width-large: 325px;
--book-cover-aspect-ratio: 0.75;
}

.filepond{
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
    background-color: rgb(67, 178, 212);
}

.book-row{
    float: left;
    width: 178px;
    height: 290px;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: .3rem;
    background-color: rgb(67, 178, 212);
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.book-row img{
    border: 1px solid black;
    border-radius: 0.2rem;
    height: 170px;
    width: 135px;
    margin-top: 0.5rem;
    margin-bottom:0.5rem
}
.book-row a {
    font-size: 20px;
    color: rgb(173, 0, 241);
    text-decoration: none;
    font-size: 1.3rem;
}
