:root{
    --nav-title-font-size:3rem;
    --nav-title-font-weight:bold;
    --nav-link-font-weight: 300;
}
.header-title{
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 45px;
    width: 220px;
    height: 60px;
    text-align: center;
    background-color: rgb(67, 178, 212);
    border-radius: 0.3rem;
    font-weight: var(--nav-title-font-weight);
    margin-top: 5px;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}
.header-nav li{
    list-style: none;
}

.header-nav li a {
    text-decoration: none;
    color: white;
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
    font-size: 1.3rem;
}

.header-nav li a:hover, .header-title:hover{
color:rgb(230, 230, 230);


}