<label>Enter your email Address</label><br>
<form action="/users/forget" method="POST">
    <input name="email" type="email" required placeholder="Enter Email">
    <button class="btn btn-success" type="submit">Next</button>
</form>