<form action="/users/login" method="POST">
    <div class="form-container">
        <h1>Login</h1>
       <%if(messages.error != null){%>
        <div class="errorMessage">
                <%= messages.error%>
            </div>
        <%}%>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="email" value="<%= email%>" placeholder="Enter Email" name="email" required>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <hr>
      <button type="submit" class="registerbtn">Login</button>
    </div>
    
    <div class="container signin">
      <p>Forget Password <a href="/users/forget">Click </a> . Don't you have an account <a href="/users/register">Register</a></p>
      
    </div>
  </form>