<h2>Edit Author</h2>
<form action="/authors/<%= singleauthor.id%>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <br>
<a class="btn btn-danger" href="/authors/<%= singleauthor.id%>">Cancel</a>
<button class="btn btn-primary" type="submit">Update</button>
</form>